{% extends 'base.html.twig' %}

{% block title %}Votre panier!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre panier</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for product in datacart %}
                <tr>
                    <td>{{ product.cake.name }}</td>
                    <td class="text-right">{{ product.cake.price|format_currency('EUR', locale='de') }}</td>
                    <td class=>{{ product.quantity }}</td>
                    {#                    TODO : display next value in euros like the others #}
                    <td class="text-right">{{ product.quantity * product.cake.price }}</td>
                    <td>
                        <a href="{{ path("cart_add", {id: product.cake.id}) }}" class="btn btn-success">
                            <i class="bi cart-plus">+</i>
                        </a>
                        <a href="{{ path("cart_remove", {id: product.cake.id}) }}" class="btn btn-warning">
                            <i class="bi bi-cart-dash">-</i>
                        </a>
                        <a href="{{ path("cart_delete", {id: product.cake.id}) }}" class="btn btn-danger">
                            <i class="bi bi-cart-check">X</i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <td class="text-center">Votre panier est vide.</td>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan=5">total</td>
                <td class="text-end" colspan="6">
                    Total {{ total|format_currency('EUR', locale='de') }}
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-end">
                    <a class="btn btn-primary" href="">Commander</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
