{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <header class="container-fluid antipadding-container">
        <div class="row">
            <div class="header-img d-flex justify-content-center">
                <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            {{ include('components/_searchform.html.twig') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="header-subtext col-12 d-flex flex-column align-items-center justify-content-center">
                            <h1 class="text-primary">Découvrez les gâteaux autour de chez vous</h1>
                            <h3>Plus de 80 pâtissières dans toute la France</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">

        <section class="row">
            <div class="main-sweet-dream-container d-flex flex-column align-items-center">
                <h2 class="main-sweet-dream-container-title text-primary mt-3 mb-5">Notre sélection</h2>

                <div class="sweet-dream-container d-flex flex-column">
                    {{ include('home/_category.html.twig', {
                        name: "Gâteaux",
                        category: "gâteau",
                        picture: "cake",
                        color: "maroon",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pièces montées",
                        category: "pièce montée",
                        picture: "mount",
                        color: "pinkred",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pâtisseries",
                        category: "pâtisserie",
                        picture: "pastry",
                        color: "red",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Cupcakes",
                        category: "cupcake(s)",
                        picture: "cupcake",
                        color: "maroon",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Gâteaux junior",
                        category: "junior",
                        picture: "junior",
                        color: "pinkorange",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Gâteaux sculptés",
                        category: "gâteau sculpté",
                        picture: "sculpt",
                        color: "lightblue",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pâtisseries étrangères",
                        category: "spécialité(s) étrangère(s)",
                        picture: "foreign",
                        color: "darkgreen",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Magnum cakes",
                        category: "magnum cake",
                        picture: "magnum",
                        color: "purple",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pop cakes",
                        category: "pop cake",
                        picture: "pop",
                        color: "orange",
                        align: "end",
                        side: "",
                    }) }}
                </div>
            </div>
        </section>

        <section class="row">
            <div class="main-how-to-container">
                <div class="how-to-light-bg">
                    <h2 class="main-how-to-container-title text-primary text-center">Comment ça marche ?</h2>
                    <div
                        class="how-to-container overflow-scroll d-flex flex-row justify-content-around">

                        <div
                            class="how-to d-flex flex-column align-items-center text-center border-darkgreen">
                            <h3 class="text-darkgreen">Recherchez</h3>
                            <p>Localisez-vous en choisissant votre ville à l'aide de la barre de recherche, afin de
                                pouvoir
                                trouver les meilleurs pâtissiers proche de chez vous.</p>
                        </div>
                        <div
                            class="how-to d-flex flex-column align-items-center justify-content-center text-center border-red">
                            <h3 class="text-red">Choisissez</h3>
                            <p>Choisissez le gâteau qui vous tente le plus puis ajustez votre commande en sélectionnant
                                son
                                goût
                                ainsi que sa taille.</p>
                        </div>
                        <div
                            class="how-to d-flex flex-column align-items-center justify-content-center text-center border-orange">
                            <h3 class="text-orange">Finalisez</h3>
                            <p>Confirmez votre commande et payez en toute sécurité sur notre plateforme MyCakeEvent.fr.
                                Il
                                ne
                                vous restera qu'à récupérer votre cake le jour J.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="main-references-container">
                <h2 class="main-references-container-title text-primary text-center">Ils nous ont fait confiance</h2>
                <div class="main-ratings-container d-flex overflow-scroll justify-content-center">

                    <div
                        class="ratings-container d-flex flex-column align-items-center justify-content-center text-center">
                        <img class="comment-img" src="https://i.pravatar.cc/200" alt="Une image de gâteau.">
                        <h3>Prénom N.</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    </div>
                    <div
                        class="ratings-container d-flex flex-column align-items-center justify-content-center text-center">
                        <img class="comment-img" src="https://i.pravatar.cc/150" alt="Une image de gâteau.">
                        <h3>Prénom N.</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    </div>
                    <div
                        class="ratings-container d-flex flex-column align-items-center justify-content-center text-center">
                        <img class="comment-img" src="https://i.pravatar.cc/" alt="Une image de gâteau.">
                        <h3>Prénom N.</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever.</p>
                    </div>

                </div>

                <div class="separator d-flex justify-content-center"></div>

                <div class="floating-logos d-flex justify-content-center">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/apple.png') }}"
                         alt="Une image de gâteau.">
                    <img class="floating-img float2" src="{{ asset('build/images/brands/auchan.png') }}"
                         alt="Une image de gâteau.">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/dior.png') }}"
                         alt="Une image de gâteau.">
                    <img class="floating-img float2" src="{{ asset('build/images/brands/fedex.png') }}"
                         alt="Une image de gâteau.">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/total.png') }}"
                         alt="Une image de gâteau.">
                    <img class="floating-img float2" src="{{ asset('build/images/brands/kfc.png') }}"
                         alt="Une image de gâteau.">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/lv.png') }}"
                         alt="Une image de gâteau.">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
