{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <header class="container-fluid antipadding-container">
        <div class="row">
            <div class="header-img d-flex justify-content-center">
                <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            {{ include('components/_searchform.html.twig') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="header-subtext col-12 d-flex flex-column align-items-center justify-content-center">
                            <h1 class="text-primary text-center">Découvrez les gâteaux autour de chez vous</h1>
                            <h3 class="text-center">Plus de 80 pâtissières dans toute la France</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container-fluid">

        <section class="row">
            <div class="main-sweet-dream-container d-flex flex-column align-items-center">
                <h2 class="main-sweet-dream-container-title text-primary mt-3 mb-5">Notre sélection</h2>

                <div class="sweet-dream-container d-flex flex-column col-12">
                    {{ include('home/_category.html.twig', {
                        name: "Gâteaux",
                        category: "gâteau",
                        picture: "cake",
                        color: "maroon",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pièces montées",
                        category: "pièce montée",
                        picture: "mount",
                        color: "pinkred",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pâtisseries",
                        category: "pâtisserie",
                        picture: "pastry",
                        color: "red",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Cupcakes",
                        category: "cupcake(s)",
                        picture: "cupcake",
                        color: "maroon",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Gâteaux junior",
                        category: "junior",
                        picture: "junior",
                        color: "pinkorange",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Gâteaux sculptés",
                        category: "gâteau sculpté",
                        picture: "sculpt",
                        color: "lightblue",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pâtisseries étrangères",
                        category: "spécialité(s) étrangère(s)",
                        picture: "foreign",
                        color: "darkgreen",
                        align: "end",
                        side: "",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Magnum cakes",
                        category: "magnum cake",
                        picture: "magnum",
                        color: "purple",
                        align: "start",
                        side: "side-left",
                    }) }}

                    {{ include('home/_category.html.twig', {
                        name: "Pop cakes",
                        category: "pop cake",
                        picture: "pop",
                        color: "orange",
                        align: "end",
                        side: "",
                    }) }}
                </div>
            </div>
        </section>

        <section class="row">
            <div class="main-how-to-container-fluid">
                <div class="how-to-light-bg">
                    <h2 class="main-how-to-container-title text-primary text-center mb-4">Comment ça marche ?</h2>
                    <div
                        class="how-to-container d-flex flex-md-row flex-column justify-content-around align-items-center align-items-md-stretch">

                        <div
                            class="how-to d-flex flex-column align-items-center text-center justify-content-center border-darkgreen">
                            <h3 class="text-darkgreen">Recherchez</h3>
                            <p>Localisez-vous en choisissant votre ville à l'aide de la barre de recherche, afin de
                                pouvoir trouver les meilleurs pâtissiers proche de chez vous.</p>
                        </div>
                        <div
                            class="how-to d-flex flex-column align-items-center justify-content-center text-center border-red">
                            <h3 class="text-red">Choisissez</h3>
                            <p>Choisissez le gâteau qui vous tente le plus puis ajustez votre commande en sélectionnant
                                son goût ainsi que sa taille.</p>
                        </div>
                        <div
                            class="how-to d-flex flex-column align-items-center justify-content-center text-center border-orange">
                            <h3 class="text-orange">Finalisez</h3>
                            <p>Confirmez votre commande et payez en toute sécurité sur notre plateforme MyCakeEvent.fr.
                                Il ne vous restera qu'à récupérer votre cake le jour J.</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="main-references-container">
                <h2 class="main-references-container-title text-primary text-center mb-4">Ils nous ont fait
                    confiance</h2>
                <div
                    class="main-ratings-container d-flex flex-column flex-lg-row justify-content-center align-items-center gap-2">

                    {# THESE OPINIONS ARE ABSOLUTELY FAKE AND SHOULD BE MODIFIED ASAP #}
                    <div
                        class="ratings-container d-flex flex-column align-items-center justify-content-center text-center">
                        <img class="comment-img" src="{{ asset("build/images/raters/aichak.png") }}"
                             alt="Une image de gâteau.">
                        <h3 class="mt-3">Aïcha K.</h3>
                        <p>J'ai commandé un gâteau Peppa Pig pour l'anniversaire de ma fille et le résultat était
                            vraiment incroyable. Elle était ravie et le gâteau a régalé toute la famille !</p>
                    </div>
                    <div
                        class="ratings-container d-flex flex-column align-items-center justify-content-center text-center">
                        <img class="comment-img" src="{{ asset("build/images/raters/anniem.png") }}"
                             alt="Une image de gâteau.">
                        <h3 class="mt-3">Annie M.</h3>
                        <p>Je suis pas très gâteaux à la base, mais là j'ai été conquise. Je recommande vraiment et j'ai
                            hâte de goûter le prochain.</p>
                    </div>
                    <div
                        class="ratings-container d-flex flex-column align-items-center justify-content-center text-center">
                        <img class="comment-img" src="{{ asset("build/images/raters/vind.png") }}"
                             alt="Une image de gâteau.">
                        <h3 class="mt-3">Dominique T.</h3>
                        <p>Super content de mon gâteau en forme de Dodge Charger R/T 2ème génération ! On l'a servi au
                            barbecue en famille, super expérience.</p>
                    </div>

                </div>

                <div class="separator d-flex justify-content-center"></div>

                <div class="floating-logos d-flex justify-content-md-center">
                    {# ADD CONTENT HERE -> logos will float like crazy let me tell you #}
                    {# CLASSES ARE ESSENTIAL - alternate between float1 and float2 for quincunx effect #}
                    <img class="floating-img float1" src="{{ asset('build/images/brands/apple.png') }}"
                         alt="Logo Apple">
                    <img class="floating-img float2" src="{{ asset('build/images/brands/auchan.png') }}"
                         alt="Logo Auchan">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/dior.png') }}"
                         alt="Logo Dior">
                    <img class="floating-img float2" src="{{ asset('build/images/brands/fedex.png') }}"
                         alt="Fedex">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/total.png') }}"
                         alt="Logo Total">
                    <img class="floating-img float2" src="{{ asset('build/images/brands/kfc.png') }}"
                         alt="Logo KFC">
                    <img class="floating-img float1" src="{{ asset('build/images/brands/lv.png') }}"
                         alt="Logo Louis Vuitton">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
