{% extends 'base.html.twig' %}

{% block title %}Mes commandes - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center">
                <h1 class="text-primary text-center mb-4">Mes commandes</h1>
                <a href="{{ path('app_customer_index') }}">
                    <button type="button" class="btn btn-secondary text-white">Retour à mon espace</button>
                </a>
                <div class="container">
                    {% for order in orders %}
                        <div class="row d-flex justify-content-center">
                            <div class="col-8">

                                <div class="card m-2">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between">
                                            {% if order.orderStatus == "Commande annulée" %}
                                                <h5 class="card-text text-red">Le {{ order.orderedAt|date("d/m/Y") }}
                                                    à {{ order.orderedAt|date("h:i:s") }}</h5>
                                                <h5 class="card-text text-red">{{ order.orderStatus }}</h5>
                                            {% else %}
                                                <h5 class="card-text">Le {{ order.orderedAt|date("d/m/Y") }}
                                                    à {{ order.orderedAt|date("h:i:s") }}</h5>
                                                <h5 class="card-text">{{ order.orderStatus }}</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p class="card-text">Commande N° 100{{ order.id }}</p>
                                                    <h5 class="card-title">{{ order.cakeName }}</h5>
                                                    <p class="card-text">{{ order.cakeSize }}</p>
                                                    <p class="card-text">Date de collecte :
                                                        {{ order.collectDate|date("d/m/Y") }}</p>
                                                    <a href="#" class="btn btn-secondary text-white">Voir ma
                                                        commande</a>
                                                </div>
                                                <div class="col-2">
                                                    <p class="card-text d-flex justify-content-end">
                                                        {{ order.cakePrice|format_currency('EUR', locale='de') }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
