{% extends 'base.html.twig' %}

{% block title %}Mon profil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 d-flex flex-column align-items-center card p-5">
                            <h1 class="text-primary text-center">Mon profil</h1>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <img class="comment-img" src="https://i.pravatar.cc/200" alt="Une image de gâteau.">
                                <h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                                <p>E-mail : {{ app.user.email }}</p>
                                <a href="{{ path('app_forgot_password_request') }}">Réinitialiser mon mot de passe</a>
                                <p>Adresse :</p>
                                <p>{% if address.streetNumber %}{{ address.streetNumber }}{% endif %} {{ address.streetName }}</p>
                                <p>{{ address.postcode }} {{ address.city }}</p>
                                <a href="{{ path("app_customer_edit") }}">Modifier mon adresse</a>
                                <a href="{{ path('app_customer_index') }}">
                                    <button type="button" class="btn btn-secondary text-white">Retour</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
