{% extends 'base.html.twig' %}

{% block title %}Mon profil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center card p-5">
                    <h1 class="text-primary text-center">Mon profil</h1>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_BAKER') %}
                            <img class="comment-img m-4"
                                 src="/uploads/bakers/profile/{{ app.user.baker.profilePicture }}"
                                 alt="Une image de gâteau.">
                        {% endif %}
                        <h3>{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                        <p class="mb-2">E-mail : {{ app.user.email }}</p>
                        <a href="{{ path('app_forgot_password_request') }}">
                            <button class="btn btn-secondary text-white">Réinitialiser mon mot de passe</button>
                        </a>
                        <h5 class="mt-4 mb-0">Adresse personnelle :</h5>
                        <p class="mb-0">{% if address.streetNumber %}{{ address.streetNumber }}{% endif %} {{ address.streetName }}</p>
                        <p class="mb-2">{{ address.postcode }} {{ address.city }}</p>

                        {% if is_granted('ROLE_BAKER') %}
                            <h5 class="mt-4 mb-0">Adresse de click & collect :</h5>
                            <p class="mb-0">{% if app.user.baker.deliveryAddress.streetNumber %}{{ app.user.baker.deliveryAddress.streetNumber }}{% endif %} {{ app.user.baker.deliveryAddress.streetName }}</p>
                            <p class="mb-2">{{ app.user.baker.deliveryAddress.postcode }} {{ app.user.baker.deliveryAddress.city }}</p>
                        {% endif %}

                        {# TODO: allow bakers to modify their addresses #}
                        {% if is_granted('ROLE_CUSTOMER') %}
                            <a href="{{ path("app_customer_edit") }}">
                                <button class="btn btn-secondary text-white">Modifier mon adresse</button>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_BAKER') %}
                            <a href="{{ path('app_baker_edit', {'id': app.user.baker.id}) }}">
                                <button type="button" class="btn btn-secondary text-white">Modifier mon profil
                                </button>
                            </a>
                            <a href="{{ path('app_bakerspace_index') }}">
                                <button type="button" class="btn btn-secondary text-white mt-5">Retour</button>
                            </a>
                        {% else %}
                            <a href="{{ path('app_customer_index') }}">
                                <button type="button" class="btn btn-secondary text-white mt-5">Retour</button>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
