{% extends 'base.html.twig' %}

{% block title %}Gâteaux - {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-fluid">
        {# displaying admin bar only if admin (for use on baker space) #}
        {% if is_granted('ROLE_ADMIN') %}
            {% include "components/_adminnav.html.twig" %}
        {% endif %}

        <h1 class="text-primary text-center mb-4">Gâteaux</h1>

        <a href="{{ path('app_cake_new') }}">
            <button class="btn btn-secondary text-white p-2 m-2">Ajouter un nouveau gâteau</button>
        </a>

        {% for cake in cakes %}
            <div class="container-fluid card mb-3">
                <div class="row m-3 g-{{ loop.index0 }} d-flex flex-lg-row justify-content-around">
                    {% for picture in cake.picture1|split(',') %}
                        {% if loop.index == 1 %} {# show only the first picture #}
                            <div class="col-12 col-md-6 col-lg-2">
                                <img src="/uploads/cakes/{{ picture }}" class="img-fluid rounded"
                                     alt="photo principale du gâteau">
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <h5 class="card-title">{{ cake.name }}</h5>
                        {# displaying baker info only if admin (for use on baker space) #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="card-text">
                                {{ cake.baker.user.firstname }} {{ cake.baker.user.lastname }}
                            </p>
                            <p class="card-text">
                                {% if cake.baker.commercialName is not empty %}
                                    {{ cake.baker.commercialName }}
                                {% endif %}
                            </p>
                            <p> {{ cake.baker.deliveryAddress.postcode }} {{ cake.baker.deliveryAddress.city }}</p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-2">
                        <h5 class="card-title">Description</h5>
                        <p>{{ cake.description }}</p>
                    </div>
                    <div class="col-12 col-lg-1">
                        <h5 class="card-title">Allergènes</h5>
                        <p>{{ cake.allergens }}</p>
                    </div>
                    <div class="col-12 col-lg-1">
                        <h5 class="card-title">Taille du gâteau</h5>
                        <p>{{ cake.size }}</p>
                        <h5 class="card-title">Prix</h5>
                        <p>{{ cake.price }} €</p>
                    </div>
                    <div class="col-12 col-lg-1">
                        <h5 class="card-title">Catégories</h5>
                        <p>{{ cake.category }}</p>
                    </div>
                    <div class="col-12 col-lg-1 d-flex flex-column align-items-center">
                        <a href="{{ path('app_cake_edit', {id:cake.id} ) }}" class="btn btn-secondary text-white m-1">Modifier</a>
                        {{ include('cake/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}
