{% extends 'base.html.twig' %}

{% block title %}Gâteaux - {{ parent() }}{% endblock %}

{% block body %}

    <main class="container-fluid">
        <div class="row">
            {# displaying admin bar only if admin (for use on baker space) #}
            {% if is_granted('ROLE_ADMIN') %}
                {% include "components/_adminnav.html.twig" %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <h1 class="text-primary text-center mb-4">Liste des gâteaux</h1>
            {% else %}
                <h1 class="text-primary text-center mb-4">Mes gâteaux</h1>
            {% endif %}
        </div>

        <div class="d-flex justify-content-between">
            {% if not is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_bakerspace_index') }}">
                    <button class="btn btn-secondary text-white m-3">Retour</button>
                </a>
            {% endif %}

            <a href="{{ path('app_cake_new') }}">
                <button class="btn btn-secondary text-white m-3">Ajouter un nouveau gâteau</button>
            </a>
        </div>

        {% for cake in cakes %}
            <div class="container-fluid card shadow mb-3">
                <div class="row m-3 d-flex flex-lg-row justify-content-around">

                    <div class="col-12 col-md-6 col-lg-2">
                        <img class="img-fluid rounded cakes-list-admin"
                            {% for picture in cake.picture1|split(',') %}
                                {% if loop.index == 1 %} {# show only the first picture #}
                                    src="/uploads/cakes/{{ picture }}"
                                {% endif %}
                            {% endfor %}
                             alt="photo principale du gâteau">
                    </div>

                    <div class="col-12 col-md-6 col-lg-5">
                        <h4 class="card-title m-0 mb-3">{{ cake.name }}</h4>
                        {# displaying baker info only if admin (for use on baker space) #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="card-text">
                                {{ cake.baker.user.firstname }} {{ cake.baker.user.lastname }}
                            </p>
                            <p class="card-text">
                                {% if cake.baker.commercialName is not empty %}
                                    {{ cake.baker.commercialName }}
                                {% endif %}
                            </p>
                            <p> {{ cake.baker.deliveryAddress.postcode }} {{ cake.baker.deliveryAddress.city }}</p>
                        {% endif %}
                        <h5 class="card-title">Description</h5>
                        <p>{{ cake.description }}</p>
                    </div>

                    <div class="col-12 col-lg-2">
                        <h5 class="card-title">Allergènes</h5>
                        <p>{{ cake.allergens }}</p>
                    </div>

                    <div class="col-12 col-lg-2">
                        <h5 class="card-title">Taille</h5>
                        <p>{{ cake.size }}</p>
                        <h5 class="card-title">Prix</h5>
                        <p>{{ cake.price|format_currency('EUR', locale='de') }}</p>
                        <h5 class="card-title">Type</h5>
                        <p>{{ cake.category }}</p>
                    </div>

                    <div class="col-12 col-lg-1 d-flex flex-column justify-content-center align-items-center">
                        <a href="{{ path('app_cake_edit', {id:cake.id} ) }}"
                           class="btn btn-secondary text-white m-1 w-100">Modifier</a>
                        {{ include('cake/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}
