{{ form_start(form) }}

<div id="baker-form" class="d-flex flex-column align-items-center m-5">
        
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.user)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_label(form.deliveryAddress) }}
                <input class="form-check-input" type="checkbox" name="copy" id="copyAddress">
                <label class="form-check-label" for="copyAddress">
                    Copier les champs de l'adresse de facturation
                </label>
            {{ form_widget(form.deliveryAddress) }}
            </div>
        </div>
        <div class="form-row w-50" id="facebook">
            <div class="form-group">
            {{ form_row(form.facebook) }}
            </div>
        </div>
        <div class="form-row w-50" id="instagram">
            <div class="form-group">
            {{ form_row(form.instagram) }}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.profilePictureFile)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(form.bakerType)}}
            </div>
        </div>
        
        <div class="form-row w-50 hidden" id="commercialName">
            <div class="form-group">
            {{ form_row(form.commercialName) }}
            </div>
        </div>
        <div class="form-row w-50 hidden" id="logoFile">
            <div class="form-group">
            {{ form_row(form.logoFile) }}
            </div>
        </div>
        <div class="form-row w-50 hidden" id="siretFile">
            <div class="form-group">
            {{ form_row(form.siretFile) }}
            </div>
        </div>
        <div class="form-row w-50 hidden" id="diplomaFile">
            <div class="form-group">
            {{ form_row(form.diplomaFile) }}
            </div>
        </div>

        
{{ form_rest(form) }}
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mt-4" value="Valider" />
        </div>
</div>
{{ form_end(form) }}
