{% extends 'base.html.twig' %}

{% block title %}Modifier pâtissier - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Compte pâtissier : modifier compte</h1>
{{ form_start(modifyForm) }}
<div class="d-flex flex-column align-items-center m-5">
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.user.lastname)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.user.firstname)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.user.phone)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.user.billingAddress)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.deliveryAddress) }}
            </div>
        </div>
        <div class="form-row w-50" id="facebook">
            <div class="form-group">
            {{ form_row(modifyForm.facebook) }}
            </div>
        </div>
        <div class="form-row w-50" id="instagram">
            <div class="form-group">
            {{ form_row(modifyForm.instagram) }}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.profilePictureFile)}}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.bakerType)}}
            </div>
        </div>
        <div class="form-row w-50" id="commercialName">
            <div class="form-group">
            {{ form_row(modifyForm.commercialName) }}
            </div>
        </div>
        <div class="form-row w-50" id="logoFile">
            <div class="form-group">
            {{ form_row(modifyForm.logoFile) }}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
            {{ form_row(modifyForm.diplomaFile) }}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mt-4" value="Valider les modifications" />
        </div>
{{ form_end(modifyForm) }}
{% endblock %}
