{% extends 'base.html.twig' %}

{% block title %}Liste des pâtissiers{% endblock %}

{% block body %}
    {% for baker in bakers %}
    <h1>{% if baker.commercialName is not empty %}
    {{ baker.commercialName}}
        {% else %}{{ baker.firstname }} {{ baker.lastname }}
        {% endif %}
    </h1>
    <p>Téléphone : {{ baker.phone }}</p>
    <button><a href="{{ path('app_baker_list', {id:baker.id} ) }}">Plus de détails</a></button>
    {% endfor %}

{% endblock %}
