{% extends 'base.html.twig' %}

{% block title %}Liste des p창tissiers - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container-fluid">
        <div class="row">
            {% include "components/_adminnav.html.twig" %}
        </div>

        <h1 class="text-primary text-center mb-4">P창tissiers</h1>
        {% for baker in bakers %}
            <div id="baker-card" class="container-fluid card mb-3">
                <div class="row m-3 g-{{ loop.index0 }}">
                    <div class="col-lg-2">
                        <img
                            src="/uploads/bakers/profile/{{ baker.profilePicture }}"
                            class="img-fluid rounded-start" alt="portrait du p창tissier">
                    </div>
                    <div class="col-lg-10">
                        <div class="card-body d-flex flex-column flex-sm-column flex-lg-row justify-content-around">
                            <div>
                                <h5 class="card-title">
                                    {{ baker.user.firstname }} {{ baker.user.lastname }}
                                </h5>
                                <p class="card-text">{% if baker.commercialName is not empty %}
                                        {{ baker.commercialName }}
                                    {% endif %}
                                </p>
                                <p>Inscrit le : {{ baker.created | date("d/m/Y") }}</p>
                                <p>N째 de Siret : {{ baker.siret }}</p>
                            </div>
                            <div>
                                <h5 class="card-title">Contact</h5>
                                <p>{{ baker.user.phone }}
                                    <br>{{ baker.user.email }}
                                    {% if baker.facebook is not empty %}
                                        <br><a href="{{ baker.facebook }}">Page Facebook</a>
                                    {% endif %}
                                    {% if baker.instagram is not empty %}
                                        <br><a href="{{ baker.instagram }}">Compte Instagram</a>
                                    {% endif %}
                                </p>
                            </div>
                            <div>
                                <h5 class="card-title">Adresse de facturation</h5>
                                {% for address in baker.user.billingAddress %}
                                    {% if address.status == 1 %} {# to show the active adress #}
                                        <p>{{ address.streetNumber }} {{ address.bisTerInfo }} {{ address.streetName }}
                                            <br>{{ address.postcode }} {{ address.city }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                <h5 class="card-title">Adresse de click&collect</h5>
                                <p>{{ baker.deliveryAddress.streetNumber }}{{ baker.deliveryAddress.bisTerInfo }} {{ baker.deliveryAddress.streetName }}
                                    <br>{{ baker.deliveryAddress.postcode }} {{ baker.deliveryAddress.city }}</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="{{ path('app_baker_edit', {id:baker.id} ) }}"
                                   class="btn btn-secondary text-white m-2">Modifier</a>
                                {{ include('baker/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
