{# _navbar.html.twig #}

<!-- DESKTOP VERSION HEREUNDER -->
<nav class="navbar navbar-expand-md navbar-colour fixed-top" id="desktop-nav">
    <div class="nav-division navbar-collapse d-flex justify-content-around">

        <div class="nav-left d-flex m-4 justify-content-around w-100">
            <a class="text-primary nav-link" href="{{ path('app_cake_index') }}">Nos gâteaux
            </a>
            <a class="text-primary nav-link" href="{{ path('app_services') }}">Nos services
            </a>
        </div>

        <div class="nav-center">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="logo-picture" alt="logo"
                     src="{{ asset('build/images/logo_mycakeevent.png') }}">
            </a>
        </div>

        <div class="nav-right d-flex m-4 justify-content-around w-100">
            <a class="text-primary nav-link" href="{{ path('app_partners') }}">Partenaires
            </a>
            {{ include('components/_navbar_login_link.html.twig') }}
        </div>

        {{ include('components/_navbar_cart_button.html.twig') }}

    </div>
</nav>

<!-- MOBILE VERSION HEREUNDER -->
<nav class="navbar navbar-expand-lg navbar-light navbar-colour fixed-top" id="mobile-nav">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">

            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    {# TODO: find a way to get this icon in white #}
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li class="dropdown-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_cake_index') }}">Nos
                            gâteaux
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a class="nav-link active" href="{{ path('app_services') }}">Nos services
                        </a>
                    </li>

                    <li class="dropdown-item">
                        <a class="nav-link active" href="{{ path('app_partners') }}">Partenaires
                        </a>
                    </li>

                    <li class="dropdown-item">
                        {{ include('components/_navbar_login_link.html.twig') }}
                    </li>
                </ul>
            </div>

            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="logo-picture" alt="logo"
                     src="{{ asset('build/images/logo_mycakeevent.png') }}">
            </a>

            {{ include('components/_navbar_cart_button.html.twig') }}
        </div>
    </div>
</nav>

<!-- Modal -->
{{ include('components/_connection_modal.html.twig') }}
