{{ form_start(searchForm) }}
<div class="input-group mb-3">
	{{ form_widget(searchForm.search, {
        "attr": {
            "class": "form-control-lg",
        }
    }) }}
{{ form_widget(searchForm.department, {
        "attr": {
            "class": "department",
        }
    }) }}
	<button class="btn btn-secondary text-light">{{ button_label|default('Rechercher') }}</button>
</div>
{{ form_end(searchForm) }}
