<div class="cake-img container">
    <div class="row">
        <div class="cake-image container col-10">
            <div id="carousel{{ place }}Controls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% if cake.picture1|split(',')|length > 1 %}
                        {% for i in 1..cake.picture1|split(',')|length %}
                            <button type="button" data-bs-target="#carousel{{ place }}Indicators"
                                    data-bs-slide-to="{{ i-1 }}"
                                {% if loop.first %}
                                    class="active" aria-current="true"
                                {% endif %}
                                    aria-label="Slide {{ i }}"></button>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="carousel-inner">
                    {% for picture in cake.picture1|split(',') %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="/uploads/cakes/{{ picture }}"
                                 class="carousel-cake-{{ place }} d-block w-100"
                                 alt="Une photo de {{ cake.name }}">
                        </div>
                    {% endfor %}
                </div>
                {% if cake.picture1|split(',')|length > 1 %}
                    <button class=" carousel-control-prev" type="button"
                            data-bs-target="#carousel{{ place }}Controls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédente</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carousel{{ place }}Controls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivante</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
