{% extends 'base.html.twig' %}

{% block title %}Modifier votre pâtisserie - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Modifier votre pâtisserie</h1>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div>
                    {% for picture in cake.picture1|split(',') %}
                        <img src="/uploads/cakes/{{ picture }}" class="img-fluid m-1">
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex flex-column justify-content-center">
                    <button class="btn btn-secondary text-white p-2">
                        {{ button_label|default('Modifier l\'anonce') }}
                    </button>
                    {{ include('cake/_delete_form.html.twig') }}
                    <button class="btn btn-secondary text-white p-2">
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('app_admin_cakes') }}">
                        {% endif %}
                        {% if is_granted("ROLE_BAKER") %} {# modify the route when the baker space will be done #}
                            <a href="{{ path('app_cake_index') }}">
                        {% endif %}
                        Retour à la liste des gâteaux</a>
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
