{% extends 'base.html.twig' %}

{% block title %}Modifier votre pâtisserie - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Modifier votre pâtisserie</h1>

    {{ form_start(form, {
    }) }}
    {{ form_widget(form) }}
        <p>Photos du gâteau</p>
        <div class="cake-image container">
            <div class="row">
            {% for picture in cake.picture1|split(',') %}
                <img src="/uploads/cakes/{{ picture }}" class="img-fluid col-3 m-1">
            {% endfor %}
            </div>
        </div>
        <button class="btn-primary p-2">{{ button_label|default('Enregistrer les modifications') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_cake_index') }}">Retour à la liste</a>

    {{ include('cake/_delete_form.html.twig') }}
{% endblock %}
