{% extends 'base.html.twig' %}

{% block title %}Modifier votre pâtisserie - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-primary text-center">Modifier votre pâtisserie</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <a
                    {% if is_granted("ROLE_ADMIN") %}
                        href="{{ path('app_admin_cakes') }}"
                    {% else %}
                        href="{{ path('app_bakerspace_cakes') }}"
                    {% endif %}
                >
                    <button class="btn btn-secondary text-white p-2 m-3">Retour à la liste des gâteaux</button>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6">
                            {% for picture in cake.picture1|split(',') %}
                                <img src="/uploads/cakes/{{ picture }}" class="img-fluid m-1">
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <div class="d-flex flex-column justify-content-center">
                                <button class="btn btn-secondary text-white p-2">
                                    {{ button_label|default('Modifier l\'anonce') }}
                                </button>
                                {{ include('cake/_delete_form.html.twig') }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
