{% extends 'base.html.twig' %}

{% block title %}Hello CakeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% for cake in cakes %}
            <div class="col-6 col-md-4 d-flex flex-column align-items-start">
                <div>
                    <img class="img-fluid" src="{{ asset('build/images/gateau.jpg') }}">
                </div>
                <div class="m-0">
                    <h1 class="m-0">{{ cake.name }}</h1>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="rating  m-0"><!--
		--><a href="#5" title="Give 5 stars">☆</a><!--
		--><a href="#4" title="Give 4 stars">☆</a><!--
		--><a href="#3" title="Give 3 stars">☆</a><!--
		--><a href="#2" title="Give 2 stars">☆</a><!--
		--><a href="#1" title="Give 1 star">☆</a>
                    </div>
                    <p class=" m-0">3 avis</p>
                </div>
                <div class="container-fluid p-0 d-flex flex-row justify-content-between">
                    <P class="m-1">Lyon</P>
                </div>
                <div>
                    <p>Disponnible dans 10 jours</p>
                    <p class="m-1">{{ cake.price }}€</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <img src="{{ asset('build/images/icons/hat.png') }}" class="hat">
                    <h5 class="text-start opacity-50"> {{ cake.baker.lastname }}
                        .{{ cake.baker.firstname |slice(0, 1) }} </h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
