{% extends 'base.html.twig' %}

{% block title %}Hello CakeController!{% endblock %}

{% block body %}

    <div class="container-fluid cake-presenation p-5">
        <div class="row d-flex flex-row">
            <div class="cake-img container col-6">
                <div class="row flex-column">
                    <div class="cake-image container col-10"><img src="{{ asset('build/images/gateau.jpg') }}"
                                                                  class="cake-img-pres" width="100%"></div>
                    <div class="container col-2"><p>o</p></div>
                </div>
            </div>
            <div class="cake-description container col-6">
                <h1 class="mb-5 font-weight-bold display-1">{{ cake.name }}</h1>
                <p class="fs-3"> {{ cake.price }}€ </p>
                <div class="d-flex flex-row align-items-center">
                    <img src="{{ asset('build/images/icons/Star_15.png') }}">
                    <img src="{{ asset('build/images/icons/Star_15.png') }}">
                    <img src="{{ asset('build/images/icons/Star_15.png') }}">
                    <img src="{{ asset('build/images/icons/Star_15.png') }}">
                    <img src="{{ asset('build/images/icons/Star_15.png') }}">
                    <p class="avis">3 avis</p>
                </div>
                <P class="mt-5 cake-description fs-4">{{ cake.description }}</P>
                <div class="">
                    <p class="">ville</p>
                    <p>disponibilité</p>
                </div>
                <div class="d-flex flex-row align-items-baseline">
                    <H2 class="ingredient-title text-decoration-underline">Ingrédients</H2>
                    <img src="{{ asset('build/images/icons/bouton_dropdown_ingredients.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
