{% extends 'base.html.twig' %}

{% block title %}{{ cake.name }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="container-fluid cake-presentation p-5">
        <div class="row d-flex flex-row">
            <div class="cake-img container col-6">
                <div class="row">
                    <div class="cake-image container col-10">
                        <img src="{{ asset('build/images/gateau.jpg') }}"
                             class="cake-img-pres img-fluid w-75">
                    </div>
                </div>
            </div>
            <div class="cake-description d-flex flex-column justify-content-between container col-6">
                <h1 class="cake-title m-0 font-weight-bold">{{ cake.name }}</h1>
                <p class="fs-3">{{ cake.price|format_currency('EUR', locale='de') }}</p>
                <div class="d-flex flex-row align-items-center">
                    {% for i in 1..5 %}
                        <img src="{{ asset('build/images/icons/Star_15.png') }}">
                    {% endfor %}
                    <p class="avis">3 avis</p>
                </div>
                <P class="mt-2 cake-description">{{ cake.description }}</P>
                <div class="d-flex flex-row justify-content-between">
                    <p class="">ville</p>
                    <a class="btn btn-primary" id="addToCart" href="{{ path('cart_add', {'id': cake.id}) }}">Add to cart</a>
                    <p>disponibilité</p>
                </div>

                <p>
                    <a class="btn btn-outline-secondary text-secondary" data-bs-toggle="collapse"
                       href="#collapseIngredients"
                       role="button"
                       aria-expanded="false" aria-controls="collapseIngredients">
                        Ingrédients et saveurs
                    </a>
                </p>
                <div class="collapse" id="collapseIngredients">
                    <div class="container-fluid card card-body bg-light">
                        <div class="row">
                            {% for i in 1..10 %}
                                ingrédient {{ i }},
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <p>
                    <a class="btn btn-outline-secondary text-secondary" data-bs-toggle="collapse"
                       href="#collapseAllergens"
                       role="button"
                       aria-expanded="false" aria-controls="collapseAllergens">
                        Allergènes
                    </a>
                </p>
                <div class="collapse" id="collapseAllergens">
                    <div class="container-fluid card card-body bg-light">
                        <div class="row">
                            {% for i in 1..10 %}
                                allergène {{ i }},
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid baker-description mb-5">
        <div class="baker-row row d-flex flex-row justify-content-center">
            <div class="col-3 border-end">
                <div class="d-flex flex-row">
                    <img class="comment-img" src="https://i.pravatar.cc/">
                    <div class="d-flex flex-column justify-content-center">
                        <p class="text-start font-weight-bold mb-0"> {{ cake.baker.lastname }}
                            .{{ cake.baker.firstname |slice(0, 1) }} </p>
                        <p class="titre">Patissier professionel</p>
                    </div>
                </div>
                <div>
                    Nullam finibus enim in justo tincidunt volutpat. Proin a elementum mi. Mauris cursus
                    blandit risus, in porta ipsum semper vitae. Pellentesque dictum vel sapien ut fringilla. Interdum et
                    malesuada fames ac ante ipsum primis in faucibus.
                </div>
            </div>
            <div class="col-3 d-flex flex-column justify-content-center">
                <p class="mb-1">Livraison</p>
                <p class="mb-1">Click & collect</p>
                <p class="mb-1">CAP Pâtissier</p>
            </div>
        </div>
    </div>
{% endblock %}
