{% extends 'base.html.twig' %}

{% block title %}Hello CakeController!{% endblock %}

{% block body %}

    <div class="container cake-presenation">
        <div class="row">
            <div class="col-6 cake-image">

            </div>
        </div>
        <div class="col-6 cake-descritpion"></div>
    </div>
    <div class="container baker-presentation">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="container container-card">
        <div class="row d-flex justify-content-around">
            {% for cake in cakes %}
                <div class="cake-card card border-0 bg-light col-3">
                    <img class="card-img-top" src="{{ asset('build/images/cake.png') }}" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <a href="{{ path('app_cake_show', {'id': cake.id}) }}"
                           class="title-cake text-dark text-decoration-none">{{ cake.name }} </a>
                        <p class="align-self-end">{{ cake.price }}</p>
                        <h5 class="text-start opacity-50"> {{ cake.baker.lastname }}
                            .{{ cake.baker.firstname |slice(0, 1) }} </h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
