{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row gx-3">
            <div class="col-12">
                <h1 class="text-primary text-center mb-4">Ma commande</h1>

                <div class="container">
                    <div class="row">
                        <div class="col-7 m-2 bg-white p-4 rounded">

                            <div>
                                <h2>Mes informations</h2>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="card-title">Nom et prénom</h5>
                                        <p class="card-text">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="card-title">Adresse</h5>
                                        <p class="card-text mb-0">{% if address.streetNumber %}{{ address.streetNumber }}{% endif %} {{ address.streetName }}</p>
                                        <p class="card-text">{{ address.postcode }} {{ address.city }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="card-title">Numéro de téléphone</h5>
                                        <p class="card-text">{{ app.user.phone }}</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="card-title">Adresse e-mail</h5>
                                        <p class="card-text">{{ app.user.email }}</p>
                                    </li>
                                </ul>
                            </div>

                            <div>
                                <h2 class="pt-5">Informations de paiement</h2>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                PayPal
                                            </label>
                                        </div>

                                    </li>
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Carte bancaire
                                            </label>
                                        </div>

                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-4 bg-white m-2 p-4 rounded">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="mb-4">Résumé de la commande</h2>
                                        <ul class="list-group">
                                            {% for data in datacart %}
                                                <li class="list-group-item">
                                                    <p class="m-1">{{ data.cake.name }}</p>
                                                    <p class="m-1">Quantité : {{ data.quantity }}</p>
                                                    <p class="m-1">Prix : {{ data.cake.price * data.quantity }}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="mt-5 mb-4">Frais de port</h3>
                                        <p>Gratuit (Click & Collect)</p>
                                        <h2 class="mt-5 mb-4">TOTAL</h2>
                                        <p>{{ total|format_currency('EUR', locale='de') }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-5 mb-5">
                            <a href="{{ path("app_order_processing") }}">
                                <button type="button" class="btn btn-secondary btn-lg text-white">Valider la commande
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
